/*  your css code here. If applicable */
*{
	margin:0px;
	padding:0px;
}
.main{
	width:350px;
	height:550px;
	background-color:whitesmoke;
	box-shadow:5px 5px 5px 5px slategray;
	text-align:center;
	margin:50px;
}
#image{
	width:250px;
	height:250px;
	padding:40px;
	 
}

p{
	padding:5px;
	margin:5px;
	
}
#button{
	border:none;
	border-radius:5px;
	background-color:salmon;
	text-align:center;
	height:40px;
	width:75px;
	margin:20px;
	color:white;
	
}
